* {
    margin: 0px;
    padding: 0px;
}

/* ------------------------------------------
User Header CSS
------------------------------------------ */
.hero_img {
    margin: 0px;
    padding: 0px;
}

.background_color {
    background-color: #d5eaec;
}

.hero_top_h {
    font-family: "Pinyon Script", cursive;
    font-size: 30px;
}

.hero_text_container {
    margin-left: 10%;
    margin-top: 30%;
}

.hero_heading {
    font-size: 100px;
    font-weight: 15px;
    line-height: 85px;
}

/* Medium devices (tablets, 768px and up)---------------- */
@media (max-width: 1024px) and (min-width: 768px) {
    .hero_text_container {
        margin-top: 30%;
    }

    .hero_heading {
        font-size: 75px;
        line-height: 65px;
    }
}

/* Small devices (phones, 576px and up)------------------ */
@media only screen and (max-width: 600px) {
    .hero_text_container {
        margin-top: 30%;
        font-size: 70px;
        line-height: 80px;
    }

    .hero_heading {
        font-size: 70px;
        line-height: 80px;
    }
}

/* ------------------------------------------
Product card CSS
------------------------------------------ */
.product_card_body {
    margin: 2px;
}

.product_card_title {
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
}

.product_card_price {
    font-size: 20px;
    font-weight: 200;
}

.product_card_star {
    color: yellow;
}

.product_card_pack {
    float: right;
}

/* ------------------------------------------
Why image CSS
------------------------------------------ */
.why_section {
    margin-top: 40px;
}

.why_img {
    margin: auto;
    display: flex;
    justify-content: center;
}

.why_heading {
    margin-top: 10px;
    text-align: center;
}

.why_para {
    margin-top: 10px;
    text-align: center;
}

/* ------------------------------------------
product details CSS
------------------------------------------ */
#productimg {
    margin-right: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: white;
    padding: 0%;
    border-radius: 10px;
    height: 50vh
}

.small-img {
    height: 70px;
    width: 70px;
    border: 0px solid;
    margin: 2px;
    border-radius: 10px;

}

.small-img_row {
    display: flex;
}

/* ------------------------------------------
User Footer CSS
------------------------------------------ */
.footerlogo {
    width: 80%;
}

.footer_bg {
    background-color: #000;
}

.footer_link {
    text-decoration: none;
    color: white;
}

.footer_link:hover {
    text-decoration: none;
    margin-left: 5%;
    transition: 0.5s;
}

.copyright {
    color: white;
}

.fa_icon_footer {
    color: #ffffff;
    font-size: 30px !important;
}

/* Small devices (phones, 576px and up)------------------ */
@media only screen and (max-width:600px) {
    .footerlogo {
        margin-top: 10%;
        width: 80%;
    }

}

/* MENScomp************************  */

.mensimg {
    width: 90%;
    height: 450px;
    background-position: center;
    background-size: cover;


}

@media only screen and (max-width: 600px) {
    .mensimg {
        width: 80%;
        height: 450px;
        margin-left: 10%;
        margin-top: 10%;
    }

    .womensimg {
        width: 80%;
        height: 450px;
        margin-left: 10%;
        margin-top: 10%;

    }
}


/* ------------------------------------------
User Order CSS
------------------------------------------ */
/* App.css */
/* .container {
    max-width: 900px;
    margin: 0 auto;
  } */

.order-header {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 30px;
}

.loading-text,
.error-text {
    text-align: center;
    font-size: 18px;
    color: #ff6347;
    /* Tomato color */
}

.no-orders {
    text-align: center;
    font-size: 18px;
    color: #888;
}

.order-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.order-items-list {
    list-style-type: none;
    padding: 0;
}

.order-item {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.shipping-address p {
    margin: 5px 0;
}



/* language translate */
.VIpgJd-ZVi9od-ORHb-OEVmcd {
    display: none !important;
}

/* Attempts to hide the Google branding */
#google_translate_element .goog-logo-link {
    display: none !important;
}

#google_translate_element .goog-te-gadget span {
    display: none !important;
}

.VIpgJd-ZVi9od-l4eHX-hSRGPd,
.VIpgJd-ZVi9od-l4eHX-hSRGPd:link {
    display: none;
}


.goog-te-gadget {
    /* color: transparent !important; */
    font-size: 0px !important;
}